.barra_nav{
    
    text-align: center;
    justify-content: center;
}

.navTitle{
    margin-left: 5vh;
}

.bloque{
    margin-left: 15vh;
    margin-right: 15vh;
}

.cuerpo{
    background-color:dodgerblue;
}

.list{
    display: flex;
    flex-direction: row;
    border-color: black;
    border-width: 2vh;
}

.lista-caballos{
    max-height: 90vh;
    border-color: beige;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    overflow-y: auto;
}

.boton-ficha{
    float: right;
}