body{
    background-color: #282c34;
}

.barra_nav{
    
    text-align: center;
    justify-content: center;
}

.opciones{
    display: flex;
}

.ficha-info{
    display: flex;
    flex-direction: row;
}

.minititle{
    font-weight: bold;
}

.displayer{
    text-align: center;
}

.navTitle{
    margin-left: 5vh;
}

.bloque{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 15vh;
    margin-right: 15vh;
    
}

.cuerpo{
    background-color:#222c41;
    min-height: 100vh;
    color: white;
}

.list{
    display: flex;
    flex-direction: row;
    border-color: black;
    border-width: 2vh;
    
}

.lista-caballos{
    max-height: 90vh;
    border-color: beige;
    border-style: outset;
    border-width: 3px;
    border-radius: 5px;
    overflow-y: auto;
}

.caballo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botones{
    margin: 5vh;
}

.boton-ficha{
    margin-right: 15vh;
    margin-left: 15vh;
}

.logoHorse{
    max-height: 10vh;
}