body{
    background-color: #23272e;
}

.team-dropdown{
    max-height: 40vh;
    overflow-y: scroll;
}

.btn-info{
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, scale 0.3s;
}

.btn-info:hover{
    scale: 110%;
    border-color: white;
    background-color: black;
    color: white;
}

.btn-info.desactivado{
    opacity: 0.6;
    pointer-events: none;
    border-color: black;
    background-color: white;
    color: black;
}

.btn-info.desactivado:hover{
    border-color: black;
    background-color: white;
    color: black;
}

.select-view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 360px;
}

.admin-horse{
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-top: none;
    border-color: gray;
    border-width: 2px;
}

.elemento{
    border: solid;
    border-color: blanchedalmond;
    border-width: 1px;
}

.bloque-razon{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
    max-height: 200px;
    max-width: 300px;
}

.razon-title{
    border-right: solid;
    border-right-width: 1px;
    border-right-color: gray;
}

.bloque-razon-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: ridge;
    border-width: 3px;
    border-color: gray;
    border-radius: 5px;
}

.btn-cerrar-razon{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-style:outset;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    transition: scale 0.3s, border-width 0.3s;
}

.btn-cerrar-razon:hover{
    scale: 110%;
    padding: 5px;
    border-style: outset;
    border-width: 3px;
}

.bloque-razon-content{
    padding: 5px;
    max-height: 100px;
    overflow-y: scroll;
}

.bloque-razon-change{
    padding: 5px;
    max-height: 200px;
}

.corral{
    border: solid;
    border-color: blanchedalmond;
    border-width: 1px;
    margin: 10px;
}

.corral-content{
    text-align: left;
}

.spread-data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-logout{
    display: flex;
    float: right;
}

.corrales-disp{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    max-height: 200px;
    max-width: 100%;
    overflow-y: scroll;
    border: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: grey;
}

.preps-info{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.vert-btns{
    max-width: 124px;
    align-self: center;
}



.btn-crear{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: outset;
    border-width: 2px;
    border-radius: 15px;
    padding: 5px;
}

.err-block{
    margin: 2vh;
    padding: 2vh;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: red;
    background-color: #da775f;
    color: black;
}

.barra_nav{
    padding: 0%;
    margin: 0%;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.opciones{
    display: flex;
}

.ficha-info{
    display: flex;
    flex-direction: row;
}

.navbar{
    width: 100%;
}

.minititle{
    font-weight: bold;
}


.displayer{
    text-align: left;
}

.navTitle{
    margin-left: 5vh;
}

.bloque{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 15vh;
    margin-right: 15vh;
    
}

.cuerpo{
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color:#23272e;
    min-height: 100vh;
    color: white;
}

.list{
    display: flex;
    flex-direction: row;
    border-color: black;
    border-width: 2vh;
    
}

.cellInput{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    margin-bottom: 5px;
}

.prefix{
    align-self: center;
    margin-right: 5px;
}

.cellTF{
    padding-bottom: 20px;
}

.botones-admin{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.prepDash{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.boton-admin{
    flex-grow: 1;
    flex-basis: 300px;
}

.btn-crear-prep{
    margin: 15px;
}

.vet-sec{
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 360px;
}

.corrales-inner{
    padding: 2px;
    display: flex;
    flex-grow: 1;
    flex-basis: 10px;
}

.corrales-inner::-webkit-scrollbar{
    display: none;
}

.enrolador{
    padding: 15px;
    flex-grow: 1;
    flex-basis: 300px;
}

.lista-preps{
    padding: 15px;
    flex-grow: 1;
    flex-basis: 300px;
    min-width: 200px;
    max-height: 700px;
    max-width: 300px;
    background-color: #222c41;
    border-style: outset;
    border-color: beige;
    border-width: 3px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: auto;
}
.lista-crear-preps{
    padding: 15px;
    flex-grow: 1;
    flex-basis: 300px;
    min-width: 200px;
    max-height: 700px;
    max-width: 400px;
    background-color: #222c41;
    border-style: outset;
    border-color: beige;
    border-width: 3px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

::-webkit-scrollbar{
    max-width: 8px;
}

::-webkit-scrollbar-track{
    background-color: rgba(39, 37, 37, 0.4);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb{
    width: 8px;
    opacity: 0.2;
    border-radius: 15px;
    background-color: rgba(245, 245, 220, .9) ;
}

.lista-caballos{
    justify-content: space-between;
    max-height: 700px;
    max-width: 100vh;
    background-color: #222c41;
    border-color: beige;
    border-style: outset;
    border-width: 3px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

.caballo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botones{
    margin: 5vh;
}

.boton-ficha{
    margin-right: 15vh;
    margin-left: 15vh;
}

.logoHorse{
    max-height: 10vh;
}

.boton-seleccion{
    margin: 1vh;
}

.bloque-position{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bloque-login{
    padding: 5vh;
    max-width: 40vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    border: outset;
    border-color: beige;
    border-radius: 5px;
}

.seccion-ficha{
    justify-content: space-between;
}